<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
    <title>Document</title>
</head>
<body>
      {{>navbar}}
       <div class="container">
           <div class="row">
               <div class="col-md-12 col-12">
                      <h2 class="text-center fs-4 mb-4">Login From Of User</h2>
                 <div class="row px-0 d-flex justify-content-center">
                     <div class="col-md-4 pb-3 pt-1 px-0 rounded login_box">
                           <div class="row ">
                               <div class="col-md-12 col-12 text-center my-3">
                                     <img src="/user.png" class="img-fluid userImg rounded border-5" alt="this is an image" >
                               </div>
                            </div>    
    <div class="row  container-fluid">
          <div class="col-md-12 d-flex justify-content-center">

                                  <form action="/login" method="post">
                       <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control"  name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                       </div>
                       <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" value="check-in" for="exampleCheck1">Check me out</label>
                        </div>
                 
                 <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                        <button type="submit"  class="btn w-100 btn-primary">Submit</button>
                 </div>
              </div>
                                  </form>

  </div>

</div>

                           </div>
                     </div>
                 </div>
               </div>
           </div>
       </div>
    {{>footer}}

</body>
</html>